<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunlian.loganalysis.dao.StatCallApiDao">

    <sql id="resultSql">
        uid AS uid,
        api_url AS apiUrl,
        total_callnum AS totalCallnum,
        success_callnum AS successCallnum,
        failure_callnum AS failureCallnum,
        min_response_time AS minResponseTime,
        max_response_time AS maxResponseTime,
        create_time AS createTime,
        update_time AS updateTime
    </sql>

    <sql id="resultExcludeTimeSql">
        uid AS uid,
        api_url AS apiUrl,
        total_callnum AS totalCallnum,
        success_callnum AS successCallnum,
        failure_callnum AS failureCallnum,
        min_response_time AS minResponseTime,
        max_response_time AS maxResponseTime
    </sql>

    <insert id="insertBatch" parameterType="com.yunlian.loganalysis.po.StatCallApiPo">
        INSERT INTO stat_call_api
        (
        uid,
        api_url,
        total_callnum,
        success_callnum,
        failure_callnum,
        min_response_time,
        max_response_time,
        create_time,
        update_time
        )
        VALUES
        <foreach collection="list" item="data" separator=",">
            (
            #{data.uid},
            #{data.apiUrl},
            #{data.totalCallnum},
            #{data.successCallnum},
            #{data.failureCallnum},
            #{data.minResponseTime},
            #{data.maxResponseTime},
            now(),
            now()
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.yunlian.loganalysis.po.StatCallApiPo">
        UPDATE stat_call_api SET
        total_callnum = #{totalCallnum},
        success_callnum = #{successCallnum},
        failure_callnum = #{failureCallnum},
        min_response_time = #{minResponseTime},
        max_response_time = #{maxResponseTime}
        WHERE uid = #{uid}
    </update>

    <select id="queryExcludeTime" parameterType="java.util.Map" resultType="com.yunlian.loganalysis.po.StatCallApiPo">
        SELECT
        <include refid="resultExcludeTimeSql"/>
        FROM stat_call_api
        <where>
            <if test="apiUrlList != null">
                AND api_url IN
                <foreach collection="apiUrlList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

        </where>
    </select>

</mapper>