<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunlian.loganalysis.dao.StatCallPartnerDailyApiDao">

    <sql id="resultSql">
        id AS id,
        uid AS uid,
        appcode AS appCode,
        stat_date AS statDate,
        api_url AS apiUrl,
        total_callnum AS totalCallnum,
        success_callnum AS successCallnum,
        failure_callnum AS failureCallnum,
        min_response_time AS minResponseTime,
        max_response_time AS maxResponseTime,
        create_time AS createTime,
        update_time AS updateTime
    </sql>

    <sql id="resultExcludeTimeSql">
        id AS id,
        uid AS uid,
        appcode AS appCode,
        stat_date AS statDate,
        api_url AS apiUrl,
        total_callnum AS totalCallnum,
        success_callnum AS successCallnum,
        failure_callnum AS failureCallnum,
        min_response_time AS minResponseTime,
        max_response_time AS maxResponseTime
    </sql>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO stat_call_partner_daily_api
          (
            uid,
            appcode,
            stat_date,
            api_url,
            total_callnum,
            success_callnum,
            failure_callnum,
            min_response_time,
            max_response_time,
            create_time,
            update_time
          )
        VALUES
        <foreach collection="list" item="data" separator=",">
          (
            #{data.uid},
            #{data.appCode},
            #{data.statDate},
            #{data.apiUrl},
            #{data.totalCallnum},
            #{data.successCallnum},
            #{data.failureCallnum},
            #{data.minResponseTime},
            #{data.maxResponseTime},
            now(),
            now()
          )
        </foreach>

    </insert>

    <update id="update" parameterType="com.yunlian.loganalysis.po.StatCallPartnerDailyApiPo">

        UPDATE stat_call_partner_daily_api SET
        total_callnum = total_callnum + #{totalCallnum},
        success_callnum = success_callnum + #{successCallnum},
        failure_callnum = failure_callnum + #{failureCallnum},
        min_response_time = LEAST(min_response_time,#{minResponseTime}),
        max_response_time = GREATEST(max_response_time,#{maxResponseTime})
        WHERE uid = #{uid}
    </update>

    <select id="getByAppStatDateAndUrl" parameterType="java.util.Map" resultType="com.yunlian.loganalysis.po.StatCallPartnerDailyApiPo">

        SELECT
        <include refid="resultExcludeTimeSql"/>
        FROM stat_call_partner_daily_api
        WHERE appcode = #{appCode} AND stat_date = #{statDate} AND api_url = #{apiUrl}

    </select>

</mapper>