<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunlian.loganalysis.dao.StatOriginLogDataDao">

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO stat_origin_logdata
          (
            uid,
            remote_addr,
            remote_user,
            time_local,
            http_host,
            request,
            request_length,
            http_referer,
            upstream_addr,
            status,
            request_time,
            upstream_response_time,
            body_bytes_sent,
            http_token,
            http_appCode,
            http_user_agent,
            create_time,
            update_time
          )
        VALUES
        <foreach collection="list" item="data" separator=",">
          (
            #{data.uid},
            #{data.remoteAddr},
            #{data.remoteUser},
            #{data.timeLocal},
            #{data.httpHost},
            #{data.request},
            #{data.requestLength},
            #{data.httpReferer},
            #{data.upstreamAddr},
            #{data.status},
            #{data.requestTime},
            #{data.upstreamResponseTime},
            #{data.bodyBytesSent},
            #{data.httpToken},
            #{data.httpAppCode},
            #{data.httpUserAgent},
            now(),
            now()
          )
        </foreach>

    </insert>

</mapper>