<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.yunlian.loganalysis.datasource.DruidDataSourceFacotry" alias="druid" />
    </typeAliases>

    <environments default="local">
        <environment id="local">
            <transactionManager type="JDBC" />
            <dataSource type="druid">
                <property name="driverClass" value="${db.driverClassName}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/StatCallApiMapper.xml"/>
        <mapper resource="mappers/StatCallDailyApiMapper.xml"/>
        <mapper resource="mappers/StatCallDailyMapper.xml"/>
        <mapper resource="mappers/StatCallPartnerDailyApiMapper.xml"/>
        <mapper resource="mappers/StatOriginLogDataMapper.xml"/>
    </mappers>
</configuration>